/* SITE CSS for Override */
@import url(theme.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--md-sys-color-background) !important;
}

body {
	font-size: 0.875rem !important;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI" !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	color: var(--md-sys-color-on-background) !important;
	width: 100%;
}

a {
	color: var(--primary) !important;
	text-decoration: none;
}

a:hover {
	color: var(--primary);
}

* {
	scrollbar-width: auto;
	scrollbar-color: var(--md-sys-color-primary) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--md-sys-color-primary);
	border-radius: 10px;
	border: 1px none #ffffff;
}

/* a.btn {
	color: #fff !important;
} */

.dropdown-item.active {
	background-color: var(--primary);
	color: #fff !important;
}

.pull-right {
	float: right !important;
}

@font-face {
	font-family: "Inter";
	src: url("/site/fonts/Inter/Inter-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/site/fonts/Inter/Inter-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/site/fonts/Inter/Inter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/site/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/site/fonts/Inter/Inter-Bold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

.page-header-fixed.page-sidebar-fixed .content {
	overflow: inherit;
}

.app-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.app {
	background: #fff;
	min-height: 100vh;
	padding-top: var(--mui-header-height);
	padding-left: var(--mui-nav-width);
}

main > .main {
	padding: 40px;
}

.b-toaster.b-toaster-top-right,
.b-toaster.b-toaster-top-left,
.b-toaster.b-toaster-top-center,
.b-toaster.b-toaster-top-full {
	top: 60px;
}

.b-toast .toast {
	border: 1px solid var(--md-sys-color-surface-9) !important;
	background-color: var(--md-sys-color-background) !important;
	color: var(--md-sys-color-on-background) !important;
}

.b-toast .toast .toast-body {
	background-color: var(--md-sys-color-background) !important;
	padding-top: 6px;
	padding-bottom: 6px;
}

.b-toast-primary .toast .toast-header {
	background-color: var(--md-sys-color-background) !important;
	border-bottom: none;
}

.b-toast-danger .toast .toast-header {
	background-color: var(--md-sys-color-background) !important;
	border-bottom: none;
}

.b-toast-success .toast .toast-header {
	background-color: var(--md-sys-color-background) !important;
	border-bottom-color: var(--md-sys-color-surface-9) !important;
}

.table tr th {
	font-weight: 400;
}

.no-border.table {
	border: none;
}

.table tr td {
	vertical-align: middle;
}

.card-footer {
	background-color: #e1e1e138;
}

.profile-header-tab {
	padding-left: 15px;
}

.bg-success {
	background-color: var(--success) !important;
}

.bg-grey-transparent-4 {
	background-color: #6f6f6f61 !important;
}

.bg-grey {
	background-color: #6f6f6f !important;
}

.bg-white {
	background-color: var(--md-sys-color-background) !important;
}

.btn {
	font-weight: 500;
}

.btn-default {
	color: var(--md-sys-color-on-background);
	background-color: #f9f9f9;
	border-color: #f9f9f9;
}

.btn-default:hover {
	color: #212529;
	background-color: #e0e0e0;
	border-color: #e0e0e0;
}

:focus {
	outline: 0 !important;
}

.form-control-plaintext {
	font-size: 10pt;
}

.f-w-500 {
	font-weight: 500 !important;
}

.m-t-xs {
	margin-top: 0.3125rem !important;
}

.line-height-1 {
	line-height: 1 !important;
}

.f-s-5rem {
	font-size: 5rem !important;
}

.f-s-6rem {
	font-size: 6rem !important;
}

.f-s-7rem {
	font-size: 7rem !important;
}

.f-s-8rem {
	font-size: 8rem !important;
}

.f-s-9rem {
	font-size: 9rem !important;
}

/* App */

.widget-icon.widget-icon-xxl,
.widget-icon.widget-icon-xxl i {
	width: 114px;
	height: 85px;
	line-height: 84px;
	font-size: 56px;
}

.widget-icon {
	width: 32px;
	height: 32px;
}

.widget-icon-sm {
	width: 32px;
	height: 32px;
}

.widget-icon.widget-icon-xxl.user i {
	font-size: 84px;
	line-height: 112px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0.2rem !important;
	border-bottom-right-radius: 0.2rem !important;
}

.nowrap {
	white-space: nowrap !important;
}

.nomore {
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.v-select .dropdown-toggle .clear {
	visibility: hidden;
}

.date-pck input {
	width: 100%;
}

/* Search */

#sb {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999999;
	width: 100%;
	height: 100%;
}

#sb .sb-background {
	background: #ddd;
	opacity: 0.97;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#sb .sb-content {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#sb .sb-content-wrapper {
	padding: 40px;
}

#sb .sb-search-input {
	padding: 0;
	font-size: 40pt;
	background: transparent;
	border: 0;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0;
}

#sb .panel-heading .btn {
	margin: 8px -5px 0 0;
}

#sb .list-group-item.active,
#sb .list-group-item.active:hover,
#sb .list-group-item.active:focus {
	outline: 1px dotted #414141 !important;
}

.dropdown-menu[x-placement="top-start"]:before,
.dropdown-menu[x-placement="top-start"]:after {
	bottom: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: white;
	border-bottom-width: 0;
	top: auto;
}

.dropdown-menu[x-placement="top-start"]:before {
	border-top-color: rgba(0, 0, 0, 1);
}

/* Search */

/*.VuePagination nav {*/

/*overflow-y: scroll;*/

/*}*/

.v-select.dropdown {
	max-height: 2.125rem;
}

.v-select.dropdown .dropdown-toggle {
	max-height: 2.125rem;
}

.v-select input[type="search"],
.v-select input[type="search"]:focus {
	margin: 0px !important;
}

.action-buttons {
	width: 95px;
}

.action-buttons-1 {
	width: 53px;
	text-align: center;
}

.menu-divider {
	border-bottom: 1px solid #333;
	margin: 4px 0;
}

.menuActiveBackground {
	color: var(--md-sys-color-on-background);
	background: var(--md-sys-color-background);
	background: -moz-linear-gradient(-45deg, #000000 0%, #000000 100%);
	background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 100%);
	background: linear-gradient(135deg, #000000 0%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",
			endColorstr="#000000",
			GradientType=1);
}

/*.subMenuActiveBackground {
  background: #000000;
}*/

.btn {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.no-selection {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.nav {
	height: 100%;
}

.navbar-header {
	display: flex !important;
	justify-content: space-between;
}

.navbar .navbar-brand {
	padding: 8px 15px;
	display: flex;
}

.navbar-brand img {
	max-height: 100% !important;
}

.vdp-datepicker input[type="text"] {
	width: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.chart-container {
	position: relative;
}

.chart-container .axis,
.chart-container .chart-label {
	fill: #555b51;
}

.chart-container .axis line,
.chart-container .chart-label line {
	stroke: #dadada;
}

.chart-container .dataset-units circle {
	stroke: #fff;
	stroke-width: 2;
}

.chart-container .dataset-units path {
	fill: none;
	stroke-opacity: 1;
	stroke-width: 2px;
}

.chart-container .dataset-path {
	stroke-width: 2px;
}

.chart-container .path-group path {
	fill: none;
	stroke-opacity: 1;
	stroke-width: 2px;
}

.chart-container line.dashed {
	stroke-dasharray: 5, 3;
}

.chart-container .axis-line .specific-value {
	text-anchor: start;
}

.chart-container .axis-line .y-line {
	text-anchor: end;
}

.chart-container .axis-line .x-line {
	text-anchor: middle;
}

.chart-container .legend-dataset-text {
	fill: #6c7680;
	font-weight: 600;
}

.graph-svg-tip {
	position: absolute;
	z-index: 1;
	padding: 10px;
	font-size: 12px;
	color: #959da5;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
}

.graph-svg-tip ol,
.graph-svg-tip ul {
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.graph-svg-tip ul.data-point-list li {
	min-width: 90px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 600;
}

.graph-svg-tip strong {
	color: #dfe2e5;
	font-weight: 600;
}

.graph-svg-tip .svg-pointer {
	position: absolute;
	height: 5px;
	margin: 0 0 0 -5px;
	content: " ";
	border: 5px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.8);
}

.graph-svg-tip.comparison {
	padding: 0;
	text-align: left;
	pointer-events: none;
}

.graph-svg-tip.comparison .title {
	display: block;
	padding: 10px;
	margin: 0;
	font-weight: 600;
	line-height: 1;
	pointer-events: none;
}

.graph-svg-tip.comparison ul {
	margin: 0;
	white-space: nowrap;
	list-style: none;
}

.graph-svg-tip.comparison li {
	display: inline-block;
	padding: 5px 10px;
}

.tab-content {
	background: #fff;
	padding: 15px;
}

.nav-copyright {
	font-size: 0.75rem;
	padding: 0.5rem 0.9375rem !important;
	color: #999;
	border-top: 1px solid #333;
	background: #222;
	width: 100%;
	display: block;
	bottom: 0;
	position: absolute;
}

.table-col-actions {
	width: 0.1%;
	white-space: nowrap;
}

.table-col-wide {
	width: 100%;
}

.table-col-sl {
	white-space: nowrap;
}

/* RULES */
.query-builder .rules-group-container {
	width: 100%;
}

.d-row-hover,
.d-hover {
	visibility: hidden;
}

div:hover > .d-hover {
	visibility: visible;
}

tr:hover .d-row-hover {
	visibility: visible;
}

.has-error .help-block {
	margin-top: 0.5rem;
	color: var(--md-sys-color-error);
}

button {
	cursor: pointer;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.ctk-date-time-picker .has-value .field-label {
	display: none !important;
}

.ctk-date-time-picker .has-value .field-input {
	padding-top: 0 !important;
}

.ctk-date-time-picker .field .field-input {
	height: 36px !important;
	min-height: 36px !important;
}

.ctk-date-time-picker .is-focused .field-input {
	border-color: #cdd4da !important;
}

/* Sidebar */

.navigation .nav-item > div {
	border-left: 1px solid #e5e7eb;
	margin-left: 34px;
}

.nav-item {
	position: relative;
}

.navigation .nav-item .nav-item .nav-item-row {
	padding-left: 0;
}

.sidebar .sub-menu > li:after {
	left: 0;
	width: 6px;
	height: 6px;
	border: 1px solid #889097;
	top: 11px;
	border-radius: 4px;
	margin-top: -2px;
	z-index: 10;
	background: #2d353c;
}

.sidebar .sub-menu > li:after,
.sidebar .sub-menu > li:before {
	position: absolute;
	content: "";
}

.sidebar .sub-menu > li:before {
	left: -13px;
	top: 0;
	bottom: 0;
	width: 2px;
}

.sidebar .sub-menu > li.has-sub > a:before,
.sidebar .sub-menu > li:before,
.sidebar .sub-menu > li > a:after {
	background: #2d353c;
}

.sidebar .sub-menu > li > a:after {
	content: "";
	position: absolute;
	left: -11px;
	top: 11px;
	width: 11px;
	height: 2px;
}

.sidebar .sub-menu > li:first-child:before {
	top: -9px;
}

.sidebar .sub-menu > li:last-child:before {
	bottom: auto;
	height: 13px;
}

/* Sidebar */

.nav-pills > li + li {
	margin-left: 0;
}

.form-horizontal .custom-checkbox,
.form-horizontal .custom-switch {
	padding-top: 9px;
}

.form-horizontal .custom-checkbox input:checked + label:after,
.form-horizontal .custom-checkbox label:before {
	top: 1px;
}

.cron .popover {
	width: 700px !important;
	max-width: 700px !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	border-color: var(--md-sys-color-outline);
	padding: 12px 16px;
}

.table {
	color: inherit;
}

.table > thead > tr > th {
	vertical-align: middle;
	border: none;
}

.table-hover tbody tr:hover {
	background-color: var(--mui-c-grey-50);
}

.table-middle td {
	vertical-align: middle !important;
}

.fa-spin-5x {
	-webkit-animation: fa-spin 0.5s infinite linear;
	animation: fa-spin 0.5s infinite linear;
}

.col-form-label {
	font-weight: 500;
	font-size: 0.88rem;
}

.form-text.text-muted {
	color: #333 !important;
	font-weight: 200;
}

.modal-footer-sm {
	padding: 0.5rem;
}

.modal-content {
	background-color: var(--md-sys-color-background) !important;
}

.modal-header {
	border-bottom: transparent;
	background-color: var(--md-sys-color-surface-1) !important;
	color: var(--md-sys-color-on-background) !important;
	text-align: center;
}

.modal-header .close {
	color: var(--md-sys-color-on-background) !important;
	opacity: 1;
}

.modal-title {
	flex-grow: 1;
	align-self: center;
}

.modal-footer {
	background-color: var(--md-sys-color-background) !important;
	border-top: 2px solid var(--md-sys-color-surface-1);
}

.modal-title {
	font-weight: 500;
	font-size: 1.2rem;
}

.page-header {
	letter-spacing: -0.03em;
}

.new-page-header {
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 30px;
	padding-right: 30px;
	background: #e9e9e9;
	margin-top: -20px;
	padding-top: 20px;
	margin-bottom: 20px;
	color: #434343;
}

.new-page-header .breadcrumb {
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	margin-left: -30px;
	margin-right: -30px;
	padding: 0 30px;
}

.tabs .card-header {
	background: #fff;
}

.VueTables__sortable {
	cursor: pointer;
}

.VueTables__sortable .VueTables__sort-icon {
	margin-top: 3px;
	color: #bbbbbbcc;
}

.VueTables__sortable .VueTables__sort-icon.fa-sort-up,
.VueTables__sortable .VueTables__sort-icon.fa-sort-down {
	color: #333;
}

.VueTables__table thead {
	background: #fff;
}

.VueTables__filters-row {
	background: #fff;
}

.custom-switch,
.custom-switch label,
.custom-switch input {
	cursor: pointer;
}

.sw-main.sw-theme-default .step-anchor > li > a {
	padding: 10px !important;
}

/*  OVERRIDE DEFAULT BUTTONS  */
.btn-primary {
	background: var(--primary) !important;
	border-color: var(--primary) !important;
	color: var(--md-sys-color-on-primary) !important;
}

.btn-secondary {
	background: var(--secondary) !important;
	border-color: var(--secondary) !important;
	color: var(--md-sys-color-on-secondary) !important;
}

.btn-danger {
	background: var(--danger) !important;
	border-color: var(--danger) !important;
	color: var(--md-sys-color-on-error) !important;
}

.btn-success {
	background: var(--success) !important;
	border-color: var(--success) !important;
	color: var(--md-sys-color-on-tertiary) !important;
}

.btn-light:active {
	color: var(--md-sys-color-on-secondary) !important;
	background-color: var(--md-sys-color-secondary) !important;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
	color: var(--md-sys-color-on-secondary) !important;
	background-color: var(--md-sys-color-secondary) !important;
	border-color: #d3d9df;
}

.btn-light:focus,
.btn-light.focus {
	color: #212529;
	color: var(--md-sys-color-on-secondary) !important;
	background-color: var(--md-sys-color-secondary) !important;
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light:hover {
	color: var(--md-sys-color-on-secondary) !important;
	background-color: var(--md-sys-color-secondary) !important;
}

.btn-light {
	background-color: var(--light);
	border-color: var(--md-sys-color-outline) !important;
	color: var(--md-sys-color-on-surface) !important;
}

.btn-dark {
	background-color: var(--dark);
	border-color: var(--dark) !important;
	color: var(--md-sys-color-on-secondary) !important;
}

.btn-outline-primary {
	color: var(--primary) !important;
	border-color: var(--primary) !important;
}

.btn-outline-secondary {
	color: var(--secondary) !important;
	border-color: var(--secondary) !important;
}

.btn-outline-secondary:hover {
	color: var(--md-sys-color-on-secondary-container) !important;
	background-color: var(--md-sys-color-secondary-container) !important;
}

.btn-outline-danger {
	color: var(--danger) !important;
	border-color: var(--danger) !important;
}

.btn-outline-success {
	color: var(--success) !important;
	border-color: var(--success) !important;
}

.btn-outline-light {
	color: var(--light) !important;
	border-color: var(--light) !important;
}

.btn-outline-dark {
	color: var(--dark) !important;
	border-color: var(--dark) !important;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link:visited,
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled:visited {
	color: var(--primary) !important;
}

.text-primary {
	color: var(--primary) !important;
}

.text-secondary {
	color: var(--secondary) !important;
}

.text-danger {
	color: var(--danger) !important;
}

.text-success {
	color: var(--success) !important;
}

.text-light {
	color: var(--light) !important;
}

.text-dark {
	color: var(--dark) !important;
}

.text-muted {
	color: var(--md-ref-palette-neutral60) !important;
}

.form-text.text-muted {
	color: var(--md-ref-palette-neutral70) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: var(--md-sys-color-on-primary-container) !important;
	background: var(--primary) !important;
	border-color: var(--primary) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	background: var(--primary) !important;
	border-color: var(--primary) !important;
	color: var(--md-sys-color-on-primary) !important;
}

.badge.label-primary {
	background: var(--md-sys-color-primary-container) !important;
	border-color: var(--md-sys-color-primary-container) !important;
	color: var(--md-sys-color-on-primary-container) !important;
}

.card {
	background-color: transparent !important;
	color: var(--md-sys-color-on-surface-variant) !important;
}

.card-body {
	border: none !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
	background-color: var(--md-sys-color-surface-1) !important;
	color: var(--md-sys-color-on-background) !important;
}

.nav.nav-tabs > .nav-item > .nav-link {
	color: var(--md-sys-color-on-surface-variant) !important;
}

.nav.nav-tabs > .nav-item > .nav-link.active {
	background-color: transparent !important;
	color: var(--primary) !important;
	border-bottom: 2px solid var(--primary) !important;
}

.nav.nav-tabs > .nav-item > .nav-link.active {
	background-color: transparent !important;
	border-bottom: 2px solid var(--primary) !important;
}

.tab-content {
	background-color: transparent !important;
}

.form-control,
.mx-input {
	background-color: var(--md-sys-color-background) !important;
	border: 1px solid var(--md-sys-color-outline) !important;
	color: var(--md-sys-color-on-background) !important;
}

.vue-treeselect__control {
	background-color: var(--md-sys-color-background) !important;
	border: 1px solid var(--md-sys-color-outline) !important;
	color: var(--md-sys-color-on-background) !important;
	height: 38px !important;
}

.vue-treeselect__single-value {
	color: var(--md-sys-color-on-background) !important;
}

.vue-treeselect__placeholder {
	color: var(--md-sys-color-on-surface-variant) !important;
}

.vue-treeselect__menu {
	background-color: var(--md-sys-color-background) !important;
	border: 1px solid var(--md-sys-color-outline) !important;
	color: var(--md-sys-color-on-background) !important;
}

.vue-treeselect--single .vue-treeselect__option--selected {
	background-color: var(--md-sys-color-primary) !important;
	color: var(--md-sys-color-on-primary) !important;
}

.vue-treeselect__option--highlight {
	background: var(--md-sys-color-surface-variant) !important;
	color: var(--md-sys-color-on-surface-variant) !important;
}
.border-left {
	border-left: 1px solid var(--md-sys-color-outline) !important;
}

.border-right {
	border-right: 1px solid var(--md-sys-color-outline) !important;
}

.vti__dropdown-arrow {
	color: var(--md-sys-color-on-background) !important;
}

.vti__input {
	background-color: transparent !important;
	color: var(--md-sys-color-on-background) !important;
}

.btn-alternate-primary {
	background: #dbeafe;
	border-radius: 4px;
	font-style: normal;
	font-weight: 600;
	/* identical to box height, or 133% */

	/* Primary / 600 */

	color: #2563eb;
}

.form-control,
.mx-input {
	/* Basic / White */
	background: #ffffff;
	/* Greys/Cool Grey/300 */

	border: 1px solid #d1d5db;
	box-sizing: border-box;
	/* shadow-sm */

	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
}

.input-group-append {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
	border-left: none;
}
.input-group-text {
	background: #ffffff;
	border-color: #d1d5db;
	cursor: default;
}

.modal-xs .modal-body {
	padding: 2rem;
}

.modal-body {
	background-color: var(--md-sys-color-background) !important;
	color: var(--md-sys-color-on-surface) !important;
}

.btn-link {
	color: #2563eb;
}

.font-weight-bold {
	font-weight: 500 !important;
}

.label {
	border-radius: 50px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
}

.label.label-primary {
	background: #d4e6fd;
	color: #1959df;
}

.list-group-item.list-group-item-success {
	background: #cdf4d457;
	color: #157435;
}

.label.label-success {
	background: var(--md-sys-color-success-container);
	color: var(--md-sys-color-on-success-container);
}

.label.label-warning {
	background: #fbf0d7;
	color: #745b15;
}

.label.label-info {
	background: #d7f6fb;
	color: #156674;
}

.label.label-default {
	background: #f3f4f6;
	color: #424b58;
}

.label.label-danger {
	background: var(--md-sys-color-error-container);
	color: var(--md-sys-color-on-error-container);
}
/* 
.badge.badge-danger {
	background: var(--md-sys-color-error-container) !important;
	color: var(--md-sys-color-on-error-container) !important;
}

.badge.badge-success {
	background: var(--md-sys-color-success-container) !important;
	color: var(--md-sys-color-on-success-container) !important;
}

.badge.badge-warning {
	background: #fbf0d7;
	color: #745b15;
}

.badge.badge-info {
	background: #d7f6fb;
	color: #156674;
}

.badge.badge-default {
	background: #f3f4f6;
	color: #424b58;
}

.badge.badge-primary {
	background: var(--md-sys-color-primary-container) !important;
	color: var(--md-sys-color-on-primary-container) !important;
}

.badge.badge-light {
	background: var(--md-ref-palette-neutral95);
	color: var(--md-ref-palette-neutral30);
}

.badge.badge-dark {
	background: #374151;
	color: #f7f7f7;
}

.badge.badge-secondary {
	background: #9ca3af;
	color: #f7f7f7;
} */

.text-link {
	color: #374151;
}

.text-single-line {
	white-space: nowrap;
}

.btn.btn-outline-secondary {
	border: 1px solid #9ca3af;
}

.dropdown-menu {
	background: var(--md-sys-color-background);
	border-color: var(--md-sys-color-outline);

	border: 1px solid #d1d5db;
	box-sizing: border-box;
	/* shadow-lg */

	box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.06),
		0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.dropdown-item {
	color: var(--md-sys-color-on-background) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
	background: var(--md-sys-color-surface-variant) !important;
	color: var(--md-sys-color-on-surface-variant) !important;
}

.dropdown-item.active {
	background: var(--md-sys-color-primary) !important;
	color: var(--md-sys-color-on-primary) !important;
}
/* 
.dropdown-menu li:first-child {
	margin-top: 8px;
}
.dropdown-menu li:last-child {
	margin-bottom: 8px;
} */
/* .dropdown-menu li {
	margin-left: 8px;
	margin-right: 8px;
} */

.b-dropdown-text {
	font-weight: normal;
}

.dropdown-menu li a {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.monaco-editor .minimap {
	border-left: 1px solid #ddd;
}

.btn-group-sm > .btn,
.btn-sm {
	line-height: 1.5;
}

.multi-line {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */

	border: 1px solid #ddd;
	padding: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.btn-light-group .btn {
	border-color: #d1d5db !important;
}

.btn-light-group .btn:hover,
.btn-light-group .btn:active,
.btn-light-group .active,
.btn-light-group .btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-light-group .btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-light-group .show > .btn-outline-secondary.dropdown-toggle {
	background-color: #f7f7f7 !important;
	color: #333 !important;
}

.badge {
	border-radius: 3px !important;
	cursor: default;
	line-height: 0.7rem;
}

.badge.badge-primary {
	background: var(--md-sys-color-primary-container) !important;
	color: var(--md-sys-color-on-primary-container) !important;
}

.badge.badge-success {
	background: var(--md-sys-color-tertiary-container) !important;
	color: var(--md-sys-color-on-tertiary-container) !important;
}

.badge.badge-warning {
	background: #fbf0d7 !important;
	color: #745b15 !important;
}

.badge.badge-info {
	background: #d7f6fb !important;
	color: #156674 !important;
}

.badge.badge-default {
	background: var(--md-sys-color-surface-variant) !important;
	color: var(--md-sys-color-on-surface-variant) !important;
}

.badge.badge-light {
	background: var(--md-sys-color-surface) !important;
	color: var(--md-sys-color-on-surface) !important;
}

.badge.badge-danger {
	background: var(--md-sys-color-error-container) !important;
	color: var(--md-sys-color-on-error-container) !important;
}

.page-link {
	color: var(--md-sys-color-primary) !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

.page-item.active .page-link {
	background-color: var(--md-sys-color-primary) !important;
	border-color: var(--md-sys-color-primary) !important;
	color: var(--md-sys-color-on-primary) !important;
}

.b-overlay {
	background-color: var(--md-sys-color-background) !important;
}

.b-overlay > .bg-dark {
	background-color: var(--md-sys-color-surface-1) !important;
}

.swal2-popup {
	background-color: var(--md-sys-color-background) !important;
	color: var(--md-sys-color-on-background) !important;
	border: 1px solid var(--md-sys-color-surface-9) !important;
}
code {
	word-break: break-word;
	padding: 2px 4px;
	color: #333;
	background-color: #f7f7f7;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px dotted #333;
}

.nopadding {
	padding: 0 !important;
}

.alert-warning {
	background-color: #fffcf2 !important;
}

.alert {
	font-weight: 400;
}

.alert-default {
	color: #333;
	background-color: #f7f7f7 !important;
	border-color: #ddd !important;
}

.alert-success {
	background: #d4edda26 !important;
}

.alert-info {
	background-color: #fafeff !important;
}

thead th {
	cursor: default;
}

.section-left {
	border-left: 4px solid #ddd;
	padding-left: 20px;
	border-radius: 4px;
}

.section-left:hover {
	border-left-color: #2463eb;
}

a:hover {
	color: #2463eb;
}

.header.navbar-default .navbar-brand,
.header.navbar-default .navbar-nav > li > a {
	color: #222 !important;
}

.navbar-brand small {
	margin-left: 0.5rem;
	color: #222;
	font-weight: 400;
}

.flush-body .popover-body {
	padding: 0;
}

.flush-body .popover-header {
	background: #fff;
}

.btn-danger {
	background-color: rgb(222, 53, 11);
}

.popover {
	z-index: 1040;
}

@media (max-width: 1024px) {
	.main-container {
		margin-left: 0px !important;
	}

	.sidebar {
		display: none;
	}

	.bottombar {
		display: flex;
	}

	.navbar {
		display: flex !important;
	}

	.page-header {
		top: 30px !important;
	}

	.page-body {
		margin-top: 40px !important;
	}
}

.mx-input:hover,
.mx-input:focus {
	border-color: var(--mui-c-primary-900);
}

.mx-calendar-content .cell.active {
	color: #fff;
	background-color: var(--mui-c-primary-900);
}

.main-container {
	margin-left: 262px;
	height: 100vh;
	width: calc(500px - 200px);
	transition: var(--tran-05);
}

.main-container .text {
	font-size: 30px;
	font-weight: 500;
	color: var(--text-color);
	padding: 12px 60px;
}

.sidebar.close ~ .main-container {
	height: 100vh;
	margin-left: 100px !important;
}

body.dark .main-container .text {
	color: var(--text-color);
}
